### Importing Pandas Library.

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Data.

In [39]:
btc = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\BTC\\btc_usd_daily.csv",index_col="Date")
eth = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\ETH\\eth_usd_daily.csv",index_col="Date")
doge = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\DOGE\\doge_usd_daily.csv",index_col="Date")
banks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Banks\\top_50_banks.csv",index_col="Rank")
btc_1year_market_cap = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Market Capital\\btc_1year_market_cap.csv",index_col="Date")
eth_1year_market_cap = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Market Capital\\eth_1year_market_cap.csv",index_col="Date")
doge_1year_market_cap = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Market Capital\\doge_1year_market_cap.csv",index_col="Date")
energy_consumption = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Energy consumption\\electricity_consumption_for_countries.csv",index_col="ranking")
sp500_stocks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\NYSE AND NASDAQ\s&p500_2008_to_2010.csv",index_col="Date")
dji_stocks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\NYSE AND NASDAQ\dji_2008_to_2010.csv",index_col="Date")

### Understanding Data.

In [40]:
btc.head(10)

             Price     Open     High      Low     Vol.  Change %
Date
25-May-21  38378.3  38753.6  39740.8  36540.7  163.01K     -0.01
24-May-21  38750.6  34720.3  39851.7  34474.6  244.88K      0.12
23-May-21  34679.7  37446.8  38248.7  31192.4  325.73K     -0.07
22-May-21  37448.3  37291.0  38776.0  35314.9  185.83K      0.00
21-May-21  37297.4  40611.2  42108.3  33592.3  315.50K     -0.08
20-May-21  40717.2  36706.8  42425.9  35010.4  269.75K      0.11
19-May-21  36720.5  42898.3  43516.6  30261.7  607.10K     -0.14
18-May-21  42897.3  43538.5  45770.9  42293.9  154.96K     -0.01
17-May-21  43541.3  46424.2  46545.4  42201.5  274.76K     -0.06
16-May-21  46426.4  46729.3  49764.3  43920.8  180.07K     -0.01

In [41]:
eth.head(10)

             Price     Open     High      Low   Vol.  Change %
Date
25-May-21  2705.09  2647.27  2747.49  2388.81  3.28M      0.02
24-May-21  2646.79  2101.30  2667.20  2080.87  3.24M      0.26
23-May-21  2101.34  2292.68  2379.89  1739.91  3.52M     -0.08
22-May-21  2291.60  2433.09  2481.06  2162.84  2.82M     -0.06
21-May-21  2433.11  2766.88  2931.66  2111.42  4.23M     -0.12
20-May-21  2777.55  2436.59  2988.52  2163.40  4.33M      0.14
19-May-21  2435.69  3376.22  3434.01  1922.25  6.42M     -0.28
18-May-21  3377.55  3280.50  3558.57  3244.93  2.30M      0.03
17-May-21  3279.68  3582.19  3582.27  3130.12  2.85M     -0.08
16-May-21  3582.12  3643.67  3877.20  3351.92  2.28M     -0.02

In [42]:
doge.tail(10)

            Price    Open    High     Low   Vol.  Change %
Date
12-Jun-17  0.0030  0.0035  0.0035  0.0025  2.42M   -0.1343
11-Jun-17  0.0035  0.0033  0.0036  0.0032  2.44M    0.0537
10-Jun-17  0.0033  0.0034  0.0036  0.0031  2.24M   -0.0432
9-Jun-17   0.0034  0.0034  0.0038  0.0033  3.43M   -0.0015
8-Jun-17   0.0034  0.0033  0.0035  0.0031  1.54M    0.0557
7-Jun-17   0.0033  0.0036  0.0040  0.0031  1.37M   -0.1015
6-Jun-17   0.0036  0.0037  0.0037  0.0032  2.11M   -0.0272
5-Jun-17   0.0037  0.0038  0.0038  0.0029  4.82M   -0.0138
4-Jun-17   0.0038  0.0032  0.0038  0.0025  5.96M    0.1734
3-Jun-17   0.0032  0.0028  0.0034  0.0027  4.37M    0.1463

In [43]:
banks.head(10)

,Bank,Country,"Market cap, US$b (January 20, 2017)"
Rank,,,
1,JP Morgan Chase & Co,US,299.393
2,Wells Fargo & Co,US,276.578
3,Industrial & Commercial Bank of China (ICBC),China,229.700
4,Bank of America,US,228.778
5,China Construction Bank,China,186.818
6,HSBC Holdings,UK,165.839
7,Citigroup Inc,US,159.898
8,Agricultural Bank of China,China,148.100
9,Bank of China,China,145.729
10,Commonwealth Bank of Australia,Australia,106.355

In [44]:
btc_1year_market_cap.head(10)

               Open      High       Low     Close        Volume    Market Cap
Date
6/1/2021   37293.79  37896.74  35787.09  36684.92  3.463942e+10  6.868910e+11
5/31/2021  35658.59  37468.25  34241.94  37332.85  3.900985e+10  6.989900e+11
5/30/2021  34607.41  36400.67  33520.74  35678.13  3.164608e+10  6.679770e+11
5/29/2021  35684.16  37234.50  33693.93  34616.07  4.523101e+10  6.480610e+11
5/28/2021  38507.08  38856.97  34779.04  35697.61  5.520019e+10  6.682840e+11
5/27/2021  39316.89  40379.62  37247.90  38436.97  4.321097e+10  7.195380e+11
5/26/2021  38392.62  40782.08  37905.83  39294.20  5.134674e+10  7.355560e+11
5/25/2021  38795.78  39776.35  36581.43  38402.22  5.621192e+10  7.188290e+11
5/24/2021  34700.36  39835.14  34551.08  38705.98  6.735958e+10  7.243320e+11
5/23/2021  37531.45  38289.22  31227.34  34770.58  7.846927e+10  6.506860e+11

In [45]:
eth_1year_market_cap.head(10)

              Open     High      Low    Close       Volume    Market Cap
Date
6/1/2021   2707.56  2739.74  2531.16  2633.52  27363223090  3.057990e+11
5/31/2021  2387.20  2715.86  2279.51  2714.95  31007383150  3.152170e+11
5/30/2021  2278.29  2472.19  2188.83  2390.31  25876619428  2.774930e+11
5/29/2021  2414.07  2566.94  2208.49  2279.51  33773720220  2.646000e+11
5/28/2021  2742.47  2761.36  2336.36  2419.91  39999114805  2.808640e+11
5/27/2021  2888.75  2888.75  2642.61  2736.49  33373635283  3.175710e+11
5/26/2021  2707.05  2911.74  2652.09  2888.70  42499766020  3.351960e+11
5/25/2021  2649.03  2750.53  2394.36  2706.63  49558333256  3.140330e+11
5/24/2021  2099.94  2672.60  2090.64  2643.59  53697121740  3.066840e+11
5/23/2021  2298.37  2384.41  1737.47  2109.58  56005721977  2.447050e+11

In [46]:
doge_1year_market_cap.head(10)

           Open  High   Low  Close      Volume   Market Cap
Date
6/1/2021   0.33  0.38  0.31   0.37  5796031087  48050998401
5/31/2021  0.30  0.33  0.29   0.33  2440829325  42298953606
5/30/2021  0.30  0.31  0.29   0.30  1929947933  39232589726
5/29/2021  0.31  0.32  0.28   0.30  2470710737  39344899569
5/28/2021  0.33  0.35  0.30   0.31  3289455640  40391360016
5/27/2021  0.35  0.35  0.33   0.33  2485942309  43208473793
5/26/2021  0.35  0.37  0.34   0.35  3355793260  45896157271
5/25/2021  0.37  0.38  0.32   0.35  5544552739  44932307822
5/24/2021  0.31  0.37  0.30   0.37  6821088755  47504120043
5/23/2021  0.34  0.35  0.25   0.31  7143545371  39963404929

In [47]:
energy_consumption.head(10)

,name,slug,value,date_of_information,region
ranking,,,,,
1,China,china,5.564000e+12,2016 est.,East Asia/Southeast Asia
2,United States,united-states,3.902000e+12,2016 est.,North America
3,India,india,1.137000e+12,2016 est.,South Asia
4,Japan,japan,9.437000e+11,2016 est.,East Asia/Southeast Asia
5,Russia,russia,9.096000e+11,2016 est.,Central Asia
6,Germany,germany,5.365000e+11,2016 est.,Europe
7,Canada,canada,5.222000e+11,2016 est.,North America
8,Brazil,brazil,5.091000e+11,2016 est.,South America
9,"Korea, South",korea-south,5.076000e+11,2016 est.,East Asia/Southeast Asia
10,France,france,4.508000e+11,2016 est.,Europe

In [48]:
sp500_stocks.head(10)

               Open     High      Low    Close  Adj. close          Volume
Date
12/31/2009  1126.60  1127.64  1114.81  1115.10     1115.10  2,07,69,90,000
12/30/2009  1125.53  1126.42  1121.94  1126.42     1126.42  2,27,73,00,000
12/29/2009  1128.55  1130.38  1126.08  1126.20     1126.20  2,49,10,20,000
12/28/2009  1127.53  1130.38  1123.51  1127.78     1127.78  2,71,64,00,000
12/24/2009  1121.08  1126.48  1121.08  1126.48     1126.48  1,26,77,10,000
12/23/2009  1118.84  1121.58  1116.00  1120.59     1120.59  3,16,68,70,000
12/22/2009  1114.51  1120.27  1114.51  1118.02     1118.02  3,64,11,30,000
12/21/2009  1105.31  1117.68  1105.31  1114.05     1114.05  3,97,73,40,000
12/18/2009  1097.86  1103.74  1093.88  1102.47     1102.47  6,32,58,90,000
12/17/2009  1106.36  1106.36  1095.88  1096.08     1096.08  7,61,50,70,000

In [49]:
dji_stocks.head(10)

               Open      High       Low     Close  Adj. close        Volume
Date
31-Dec-09  10548.51  10555.01  10423.13  10428.05    10428.05  13,79,40,000
30-Dec-09  10544.36  10550.70  10505.66  10548.51    10548.51  11,01,60,000
29-Dec-09  10547.83  10580.33  10544.28  10545.41    10545.41   9,28,90,000
28-Dec-09  10517.91  10551.61  10506.34  10547.08    10547.08  10,20,10,000
24-Dec-09  10467.12  10522.06  10461.68  10520.09    10520.09   5,26,70,000
23-Dec-09  10464.32  10492.06  10437.80  10466.44    10466.44  11,24,60,000
22-Dec-09  10414.67  10479.82  10414.59  10464.93    10464.93  13,50,80,000
21-Dec-09  10330.10  10458.05  10329.80  10414.14    10414.14  16,44,70,000
18-Dec-09  10309.39  10372.35  10263.90  10328.89    10328.89  48,00,80,000
17-Dec-09  10439.99  10440.06  10307.96  10308.26    10308.26  19,88,60,000

### Finding about Rows, Columns and Missing values.

In [50]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, 25-May-21 to 3-Jun-17
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   float64
 1   Open      1453 non-null   float64
 2   High      1453 non-null   float64
 3   Low       1453 non-null   float64
 4   Vol.      1453 non-null   object
 5   Change %  1453 non-null   float64
dtypes: float64(5), object(1)
memory usage: 79.5+ KB

In [51]:
eth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, 25-May-21 to 3-Jun-17
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   float64
 1   Open      1453 non-null   float64
 2   High      1453 non-null   float64
 3   Low       1453 non-null   float64
 4   Vol.      1453 non-null   object
 5   Change %  1453 non-null   float64
dtypes: float64(5), object(1)
memory usage: 79.5+ KB

In [52]:
doge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, 25-May-21 to 3-Jun-17
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   float64
 1   Open      1453 non-null   float64
 2   High      1453 non-null   float64
 3   Low       1453 non-null   float64
 4   Vol.      1453 non-null   object
 5   Change %  1453 non-null   float64
dtypes: float64(5), object(1)
memory usage: 79.5+ KB

In [53]:
banks.rename(columns = {"Market cap, US$b (January 20, 2017)" : "Marketcap"},inplace=True)
banks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bank       50 non-null     object
 1   Country    50 non-null     object
 2   Marketcap  50 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.6+ KB

In [54]:
btc_1year_market_cap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 6/1/2021 to 6/1/2020
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        366 non-null    float64
 1   High        366 non-null    float64
 2   Low         366 non-null    float64
 3   Close       366 non-null    float64
 4   Volume      366 non-null    float64
 5   Market Cap  366 non-null    float64
dtypes: float64(6)
memory usage: 20.0+ KB

In [55]:
eth_1year_market_cap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 6/1/2021 to 6/1/2020
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        366 non-null    float64
 1   High        366 non-null    float64
 2   Low         366 non-null    float64
 3   Close       366 non-null    float64
 4   Volume      366 non-null    int64
 5   Market Cap  366 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 20.0+ KB

In [56]:
doge_1year_market_cap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 366 entries, 6/1/2021 to 6/1/2020
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        366 non-null    float64
 1   High        366 non-null    float64
 2   Low         366 non-null    float64
 3   Close       366 non-null    float64
 4   Volume      366 non-null    int64
 5   Market Cap  366 non-null    int64
dtypes: float64(4), int64(2)
memory usage: 20.0+ KB

In [57]:
energy_consumption.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 1 to 218
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 217 non-null    object
 1   slug                 217 non-null    object
 2   value                217 non-null    float64
 3   date_of_information  217 non-null    object
 4   region               217 non-null    object
dtypes: float64(1), object(4)
memory usage: 10.2+ KB

In [58]:
sp500_stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, 12/31/2009 to 1/2/2008
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        505 non-null    float64
 1   High        505 non-null    float64
 2   Low         505 non-null    float64
 3   Close       505 non-null    float64
 4   Adj. close  505 non-null    float64
 5   Volume      505 non-null    object
dtypes: float64(5), object(1)
memory usage: 27.6+ KB

In [59]:
dji_stocks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, 31-Dec-09 to 2-Jan-08
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Open        505 non-null    float64
 1   High        505 non-null    float64
 2   Low         505 non-null    float64
 3   Close       505 non-null    float64
 4   Adj. close  505 non-null    float64
 5   Volume      505 non-null    object
dtypes: float64(5), object(1)
memory usage: 27.6+ KB

### Changing datatypes

In [60]:
eth_1year_market_cap["Volume"] = eth_1year_market_cap["Volume"].astype(float)

In [61]:
doge_1year_market_cap[["Volume","Market Cap"]] = doge_1year_market_cap[["Volume","Market Cap"]].astype(float)

In [62]:
sp500_stocks["Volume"] = sp500_stocks["Volume"].str.replace(",","").astype(float)

In [63]:
dji_stocks["Volume"] = dji_stocks["Volume"].str.replace(",","").astype(float)

### Dimensions of the Data.

In [64]:
btc.shape

(1453, 6)

In [65]:
eth.shape

(1453, 6)

In [66]:
doge.shape

(1453, 6)

In [67]:
banks.shape

(50, 3)

In [68]:
btc_1year_market_cap.shape

(366, 6)

In [69]:
eth_1year_market_cap.shape

(366, 6)

In [70]:
doge_1year_market_cap.shape

(366, 6)

In [71]:
energy_consumption.shape

(217, 5)

In [72]:
sp500_stocks.shape

(505, 6)

In [73]:
dji_stocks.shape

(505, 6)

### Statistical Summary of Data.

In [74]:
btc.describe()

              Price          Open          High           Low     Change %
count   1453.000000   1453.000000   1453.000000   1453.000000  1453.000000
mean   12236.468754  12211.429456  12585.464900  11791.916105     0.002746
std    12930.900744  12914.627096  13347.980278  12403.618064     0.043726
min     1914.100000   1914.100000   2044.400000   1809.000000    -0.390000
25%     6291.300000   6283.700000   6451.700000   6138.800000    -0.020000
50%     8304.400000   8302.700000   8536.500000   8110.400000     0.000000
75%    10904.500000  10899.400000  11175.200000  10568.800000     0.020000
max    63540.900000  63544.200000  64778.000000  62067.500000     0.260000

In [75]:
eth.describe()

             Price         Open         High          Low    Change %
count  1453.000000  1453.000000  1453.000000  1453.000000  1453.00000
mean    493.044639   491.341769   512.300206   467.596524     0.00340
std     589.420557   586.604947   617.347227   551.835374     0.05597
min      83.810000    83.810000    85.070000    77.650000    -0.45000
25%     185.960000   185.860000   190.230000   179.460000    -0.02000
50%     278.410000   278.300000   287.530000   266.400000     0.00000
75%     486.450000   485.970000   511.540000   465.410000     0.03000
max    4167.780000  4173.610000  4366.100000  3794.150000     0.26000

In [76]:
doge.describe()

             Price         Open         High          Low     Change %
count  1453.000000  1453.000000  1453.000000  1453.000000  1453.000000
mean      0.017336     0.017103     0.019187     0.015122     0.049804
std       0.069643     0.069125     0.077808     0.059553     1.629529
min       0.000800     0.000800     0.000800     0.000700    -0.984300
25%       0.002300     0.002300     0.002400     0.002200    -0.024600
50%       0.002800     0.002800     0.002800     0.002700    -0.000500
75%       0.003700     0.003700     0.004000     0.003500     0.021600
max       0.686900     0.686900     0.738300     0.605200    61.915500

In [77]:
banks.describe()

       Marketcap
count   50.00000
mean    87.58770
std     62.23783
min     38.02700
25%     47.40050
50%     61.22900
75%     93.03975
max    299.39300

In [78]:
btc_1year_market_cap.describe()

,Open,High,Low,Close,Volume,Market Cap
count,366.000000,366.000000,366.000000,366.000000,3.660000e+02,3.660000e+02
mean,27479.417459,28313.508579,26551.062678,27552.214863,4.452147e+10,5.129565e+11
std,18579.742079,19185.342997,17829.182622,18560.802323,2.700380e+10,3.474554e+11
min,9048.460000,9162.180000,8975.530000,9045.390000,1.225260e+10,1.665850e+11
25%,10957.177500,11142.907500,10818.275000,10978.892500,2.463782e+10,2.027758e+11
50%,18587.310000,18928.085000,18087.350000,18631.770000,4.118060e+10,3.456155e+11
75%,46456.295000,48341.410000,44950.027500,46474.840000,5.851956e+10,8.683800e+11
max,63523.750000,64863.100000,62208.960000,63503.460000,3.509680e+11,1.186360e+12

In [79]:
eth_1year_market_cap.describe()

,Open,High,Low,Close,Volume,Market Cap
count,366.000000,366.000000,366.000000,366.000000,3.660000e+02,3.660000e+02
mean,1064.078825,1111.439863,1012.370628,1070.573607,2.247063e+10,1.228618e+11
std,937.129800,987.567697,878.757878,939.564748,1.438837e+10,1.090607e+11
min,222.910000,228.600000,219.470000,222.960000,5.109033e+09,2.486643e+10
25%,368.812500,380.205000,358.827500,369.522500,1.194218e+10,4.171030e+10
50%,568.980000,584.930000,550.525000,570.020000,1.678911e+10,6.477594e+10
75%,1746.125000,1814.962500,1674.315000,1762.685000,3.119704e+10,2.020065e+11
max,4174.640000,4362.350000,3785.850000,4168.700000,8.448291e+10,4.828820e+11

In [80]:
doge_1year_market_cap.describe()

,Open,High,Low,Close,Volume,Market Cap
count,366.000000,366.000000,366.000000,366.000000,3.660000e+02,3.660000e+02
mean,0.062842,0.070765,0.055710,0.063880,2.836303e+09,8.481285e+09
std,0.134766,0.152727,0.117284,0.135831,7.184862e+09,1.748181e+10
min,0.000000,0.000000,0.000000,0.000000,2.275453e+07,2.892774e+08
25%,0.000000,0.000000,0.000000,0.000000,7.765858e+07,3.511249e+08
50%,0.000000,0.000000,0.000000,0.000000,1.726748e+08,4.438429e+08
75%,0.050000,0.060000,0.050000,0.050000,1.727614e+09,7.004811e+09
max,0.690000,0.740000,0.610000,0.680000,6.941068e+10,8.868082e+10

In [81]:
energy_consumption.describe()

              value
count  2.170000e+02
mean   1.003289e+11
std    4.778335e+11
min    0.000000e+00
25%    6.299000e+08
50%    6.798000e+09
75%    3.950000e+10
max    5.564000e+12

In [82]:
sp500_stocks.describe()

,Open,High,Low,Close,Adj. close,Volume
count,505.000000,505.000000,505.000000,505.000000,505.000000,5.050000e+02
mean,1084.796792,1096.299624,1071.897901,1084.313525,1084.313525,5.302681e+09
std,209.286868,208.008075,209.796352,208.579451,208.579451,1.421660e+09
min,679.280000,695.270000,666.790000,676.530000,676.530000,1.219310e+09
25%,899.450000,911.760000,884.900000,900.940000,900.940000,4.238220e+09
50%,1061.510000,1067.280000,1047.300000,1060.870000,1060.870000,5.175640e+09
75%,1288.640000,1300.220000,1274.860000,1289.190000,1289.190000,6.134870e+09
max,1467.970000,1471.770000,1443.730000,1447.160000,1447.160000,1.145623e+10

In [83]:
dji_stocks.describe()

,Open,High,Low,Close,Adj. close,Volume
count,505.000000,505.000000,505.000000,505.000000,505.000000,5.050000e+02
mean,10071.389248,10177.061861,9955.173307,10067.193703,10067.193703,2.783817e+08
std,1766.018393,1755.931022,1769.682138,1760.571863,1760.571863,1.057070e+08
min,6547.010000,6709.610000,6469.950000,6547.050000,6547.050000,5.267000e+07
25%,8502.480000,8604.120000,8372.020000,8504.060000,8504.060000,2.053600e+08
50%,9786.040000,9854.580000,9728.070000,9786.870000,9786.870000,2.492600e+08
75%,11659.650000,11759.960000,11543.390000,11656.070000,11656.070000,3.284600e+08
max,13261.820000,13279.540000,13023.560000,13058.200000,13058.200000,6.749200e+08

### Finding Top 10 values of data using sort_value() function.

In [84]:
btc.sort_values(["Vol."],ascending=False).head(10)

             Price     Open     High      Low     Vol.  Change %
Date
14-Apr-20   6850.9   6841.8   6970.8   6768.6  999.53K      0.00
3-Jul-19   11900.8  10835.9  11931.8  10835.9  998.73K      0.10
27-Nov-19   7510.6   7162.8   7636.9   6875.4  996.49K      0.05
24-Apr-19   5415.6   5511.2   5589.6   5346.8  994.04K     -0.02
3-Dec-20   19433.3  19219.8  19596.6  18883.7   99.97K      0.01
14-Oct-18   6326.8   6321.6   6390.9   6300.0   99.38K      0.00
21-Jun-18   6728.0   6765.8   6797.5   6695.1   99.29K     -0.01
8-Apr-20    7361.2   7185.6   7396.1   7153.1  983.94K      0.02
27-Apr-20   7766.0   7679.4   7768.5   7637.7  980.50K      0.01
24-Feb-20   9662.7   9943.2   9981.0   9507.0  980.00K     -0.03

In [85]:
eth.sort_values(["Vol."],ascending=False).head(10)

             Price     Open     High      Low     Vol.  Change %
Date
14-Feb-18   919.67   841.38   922.38   840.82  993.86K      0.09
15-Mar-18   610.13   612.08   620.01   572.69  991.89K      0.00
31-Jan-18  1118.08  1072.17  1126.87  1028.03  990.74K      0.04
14-Mar-18   612.09   689.67   702.53   587.10  990.48K     -0.11
11-Feb-18   810.45   851.44   854.10   778.90  988.45K     -0.05
15-Apr-18   533.90   502.52   534.18   502.52  988.29K      0.06
19-Jun-18   538.22   517.91   547.50   514.88  985.96K      0.04
10-May-18   724.40   751.98   768.24   723.39  983.14K     -0.04
16-May-18   706.53   705.73   710.49   667.51  978.18K      0.00
13-Oct-18   201.22   196.67   206.13   196.41  976.30K      0.02

In [86]:
doge.sort_values(["Vol."],ascending=False).head(10)

            Price    Open    High     Low     Vol.  Change %
Date
27-Oct-17  0.0010  0.0011  0.0011  0.0010  998.25M   -0.0170
11-Dec-20  0.0031  0.0031  0.0031  0.0030  996.31M   -0.0109
15-Oct-18  0.0054  0.0053  0.0057  0.0052  992.75M    0.0200
17-Nov-18  0.0026  0.0028  0.0028  0.0026  986.08M   -0.0575
5-Nov-18   0.0037  0.0037  0.0037  0.0036  978.49M   -0.0206
19-Jan-19  0.0021  0.0020  0.0021  0.0020  978.04M    0.0255
24-Oct-20  0.0026  0.0026  0.0027  0.0026  969.00M   -0.0038
21-Feb-18  0.0066  0.0072  0.0075  0.0064  966.62M   -0.0704
23-Oct-20  0.0026  0.0026  0.0027  0.0026  959.32M   -0.0010
24-Oct-17  0.0011  0.0010  0.0011  0.0010  957.84M    0.0495

### Plots

In [87]:
# Largest and Smallest values side by side for each coin
# Pie chart of average market share for 1 year of 3 coins  
# Percentage change in values as histogram