### Importing Pandas Library.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Data.

In [2]:
btc = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\BTC\\btc_usd_daily.csv",index_col="Date")
eth = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\ETH\\eth_usd_daily.csv",index_col="Date")
doge = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\DOGE\\doge_usd_daily.csv",index_col="Date")
banks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Banks\\top_50_banks.csv",index_col="Rank")
market_cap = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Market Capital\\combined_market_cap.csv")
energy_consumption = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Energy consumption\\electricity_consumption_for_countries.csv",index_col="ranking")
stocks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\NYSE AND NASDAQ\combined_s&p_nasdaq.csv")

### Understanding Data.

In [3]:
def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

btc['Vol.'] = btc['Vol.'].apply(value_to_float)
btc.head(10)

                 Price      Open      High       Low      Vol. Change %
Date
May 25, 2021  38,378.3  38,753.6  39,740.8  36,540.7  163010.0   -0.96%
May 24, 2021  38,750.6  34,720.3  39,851.7  34,474.6  244880.0   11.74%
May 23, 2021  34,679.7  37,446.8  38,248.7  31,192.4  325730.0   -7.39%
May 22, 2021  37,448.3  37,291.0  38,776.0  35,314.9  185830.0    0.40%
May 21, 2021  37,297.4  40,611.2  42,108.3  33,592.3  315500.0   -8.40%
May 20, 2021  40,717.2  36,706.8  42,425.9  35,010.4  269750.0   10.88%
May 19, 2021  36,720.5  42,898.3  43,516.6  30,261.7  607100.0  -14.40%
May 18, 2021  42,897.3  43,538.5  45,770.9  42,293.9  154960.0   -1.48%
May 17, 2021  43,541.3  46,424.2  46,545.4  42,201.5  274760.0   -6.21%
May 16, 2021  46,426.4  46,729.3  49,764.3  43,920.8  180070.0   -0.60%

In [4]:
eth['Vol.'] = eth['Vol.'].apply(value_to_float)
eth.head(10)

                 Price      Open      High       Low       Vol. Change %
Date
May 25, 2021  2,705.09  2,647.27  2,747.49  2,388.81  3280000.0    2.20%
May 24, 2021  2,646.79  2,101.30  2,667.20  2,080.87  3240000.0   25.96%
May 23, 2021  2,101.34  2,292.68  2,379.89  1,739.91  3520000.0   -8.30%
May 22, 2021  2,291.60  2,433.09  2,481.06  2,162.84  2820000.0   -5.82%
May 21, 2021  2,433.11  2,766.88  2,931.66  2,111.42  4230000.0  -12.40%
May 20, 2021  2,777.55  2,436.59  2,988.52  2,163.40  4330000.0   14.04%
May 19, 2021  2,435.69  3,376.22  3,434.01  1,922.25  6420000.0  -27.89%
May 18, 2021  3,377.55  3,280.50  3,558.57  3,244.93  2300000.0    2.98%
May 17, 2021  3,279.68  3,582.19  3,582.27  3,130.12  2850000.0   -8.44%
May 16, 2021  3,582.12  3,643.67  3,877.20  3,351.92  2280000.0   -1.63%

In [5]:
doge['Vol.'] = doge['Vol.'].apply(value_to_float)
doge.tail(10)

                 Price      Open      High       Low       Vol. Change %
Date
Jun 12, 2017  0.002990  0.003454  0.003479  0.002464  2420000.0  -13.43%
Jun 11, 2017  0.003454  0.003278  0.003563  0.003195  2440000.0    5.37%
Jun 10, 2017  0.003278  0.003426  0.003591  0.003130  2240000.0   -4.32%
Jun 09, 2017  0.003426  0.003431  0.003752  0.003290  3430000.0   -0.15%
Jun 08, 2017  0.003431  0.003250  0.003511  0.003055  1540000.0    5.57%
Jun 07, 2017  0.003250  0.003617  0.003950  0.003132  1370000.0  -10.15%
Jun 06, 2017  0.003617  0.003718  0.003718  0.003152  2110000.0   -2.72%
Jun 05, 2017  0.003718  0.003770  0.003825  0.002923  4820000.0   -1.38%
Jun 04, 2017  0.003770  0.003213  0.003770  0.002544  5960000.0   17.34%
Jun 03, 2017  0.003213  0.002803  0.003398  0.002655  4370000.0   14.63%

In [6]:
banks.rename(columns = {"Market cap, US$b (January 20, 2017)" : "Marketcap"},inplace=True)
banks["Marketcap"] = banks["Marketcap"] * 1000000000
banks.head(10)

                                              Bank    Country     Marketcap
Rank
1                             JP Morgan Chase & Co         US  2.993930e+11
2                                 Wells Fargo & Co         US  2.765780e+11
3     Industrial & Commercial Bank of China (ICBC)      China  2.297000e+11
4                                  Bank of America         US  2.287780e+11
5                          China Construction Bank      China  1.868180e+11
6                                    HSBC Holdings         UK  1.658390e+11
7                                    Citigroup Inc         US  1.598980e+11
8                       Agricultural Bank of China      China  1.481000e+11
9                                    Bank of China      China  1.457290e+11
10                  Commonwealth Bank of Australia  Australia  1.063550e+11

In [7]:
market_cap.head(10)

,Coin,Date,Open,High,Low,Close,Volume,Market Cap
0,btc,6/1/2020,9463.61,10199.56,9450.90,10167.27,3.519890e+10,1.869930e+11
1,eth,6/1/2020,230.86,248.24,230.49,246.99,1.395173e+10,2.745926e+10
2,doge,6/1/2020,0.00,0.00,0.00,0.00,1.957483e+08,3.303279e+08
3,btc,6/2/2020,10162.97,10182.34,9460.57,9529.80,3.913725e+10,1.752770e+11
4,eth,6/2/2020,246.83,252.22,233.23,237.22,1.378211e+10,2.637603e+10
5,doge,6/2/2020,0.00,0.00,0.00,0.00,2.001193e+08,3.196954e+08
6,btc,6/3/2020,9533.76,9682.86,9471.85,9656.72,2.500746e+10,1.776200e+11
7,eth,6/3/2020,237.40,244.18,235.46,244.18,9.861761e+09,2.715324e+10
8,doge,6/3/2020,0.00,0.00,0.00,0.00,1.900216e+08,3.223964e+08
9,btc,6/4/2020,9655.85,9887.61,9525.25,9800.64,2.592181e+10,1.802760e+11

In [8]:
energy_consumption.head(10)

,name,slug,value,date_of_information,region
ranking,,,,,
1,China,china,"5,564,000,000,000",2016 est.,East Asia/Southeast Asia
2,United States,united-states,"3,902,000,000,000",2016 est.,North America
3,India,india,"1,137,000,000,000",2016 est.,South Asia
4,Japan,japan,"943,700,000,000",2016 est.,East Asia/Southeast Asia
5,Russia,russia,"909,600,000,000",2016 est.,Central Asia
6,Germany,germany,"536,500,000,000",2016 est.,Europe
7,Canada,canada,"522,200,000,000",2016 est.,North America
8,Brazil,brazil,"509,100,000,000",2016 est.,South America
9,"Korea, South",korea-south,"507,600,000,000",2016 est.,East Asia/Southeast Asia
10,France,france,"450,800,000,000",2016 est.,Europe

In [9]:
stocks.head(10)

,Type,Date,Open,High,Low,Close,Adj. close,Volume
0,s&p,1/2/2008,"1,467.97","1,471.77","1,442.07","1,447.16","1,447.16","3,45,26,50,000"
1,nasdaq,1/2/2008,2653.909912,2661.5,2597.810059,2609.629883,2609.629883,2076690000
2,s&p,1/3/2008,"1,447.55","1,456.80","1,443.73","1,447.16","1,447.16","3,42,95,00,000"
3,nasdaq,1/3/2008,2611.959961,2624.27002,2592.179932,2602.679932,2602.679932,1970200000
4,s&p,1/4/2008,"1,444.01","1,444.01","1,411.19","1,411.63","1,411.63","4,16,60,00,000"
5,nasdaq,1/4/2008,2571.080078,2571.080078,2502.679932,2504.649902,2504.649902,2516310000
6,s&p,1/7/2008,"1,414.07","1,423.87","1,403.45","1,416.18","1,416.18","4,22,12,60,000"
7,nasdaq,1/7/2008,2514.149902,2521.620117,2471.22998,2499.459961,2499.459961,2600100000
8,s&p,1/8/2008,"1,415.71","1,430.28","1,388.30","1,390.19","1,390.19","4,70,53,90,000"
9,nasdaq,1/8/2008,2506.969971,2527.419922,2440.51001,2440.51001,2440.51001,2566480000

### Finding about Rows, Columns and Missing values.

In [10]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, May 25, 2021 to Jun 03, 2017
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   object
 1   Open      1453 non-null   object
 2   High      1453 non-null   object
 3   Low       1453 non-null   object
 4   Vol.      1453 non-null   float64
 5   Change %  1453 non-null   object
dtypes: float64(1), object(5)
memory usage: 79.5+ KB

In [11]:
eth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, May 25, 2021 to Jun 03, 2017
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   object
 1   Open      1453 non-null   object
 2   High      1453 non-null   object
 3   Low       1453 non-null   object
 4   Vol.      1453 non-null   float64
 5   Change %  1453 non-null   object
dtypes: float64(1), object(5)
memory usage: 79.5+ KB

In [12]:
doge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, May 25, 2021 to Jun 03, 2017
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   float64
 1   Open      1453 non-null   float64
 2   High      1453 non-null   float64
 3   Low       1453 non-null   float64
 4   Vol.      1453 non-null   float64
 5   Change %  1453 non-null   object
dtypes: float64(5), object(1)
memory usage: 79.5+ KB

In [13]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Bank       50 non-null     object
 1   Country    50 non-null     object
 2   Marketcap  50 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.6+ KB

In [14]:
market_cap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098 entries, 0 to 1097
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Coin        1098 non-null   object
 1   Date        1098 non-null   object
 2   Open        1098 non-null   float64
 3   High        1098 non-null   float64
 4   Low         1098 non-null   float64
 5   Close       1098 non-null   float64
 6   Volume      1098 non-null   float64
 7   Market Cap  1098 non-null   float64
dtypes: float64(6), object(2)
memory usage: 68.8+ KB

In [15]:
energy_consumption.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 1 to 218
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 217 non-null    object
 1   slug                 217 non-null    object
 2   value                217 non-null    object
 3   date_of_information  217 non-null    object
 4   region               217 non-null    object
dtypes: object(5)
memory usage: 10.2+ KB

In [16]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type        1010 non-null   object
 1   Date        1010 non-null   object
 2   Open        1010 non-null   object
 3   High        1010 non-null   object
 4   Low         1010 non-null   object
 5   Close       1010 non-null   object
 6   Adj. close  1010 non-null   object
 7   Volume      1010 non-null   object
dtypes: object(8)
memory usage: 63.2+ KB

### Dimensions of the Data.

In [17]:
btc.shape

(1453, 6)

In [18]:
eth.shape

(1453, 6)

In [19]:
doge.shape

(1453, 6)

In [20]:
banks.shape

(50, 3)

In [21]:
market_cap.shape

(1098, 8)

In [22]:
energy_consumption.shape

(217, 5)

In [23]:
stocks.shape

(1010, 8)

### Statistical Summary of Data.

In [24]:
btc.describe()

               Vol.
count  1.453000e+03
mean   7.301400e+05
std    1.548554e+06
min    2.400000e+03
25%    1.304300e+05
50%    3.166300e+05
75%    6.974200e+05
max    2.026000e+07

In [25]:
eth.describe()

               Vol.
count  1.453000e+03
mean   7.569653e+06
std    8.538927e+06
min    0.000000e+00
25%    1.330000e+06
50%    5.370000e+06
75%    1.034000e+07
max    7.747000e+07

In [26]:
doge.describe()

             Price         Open         High          Low          Vol.
count  1453.000000  1453.000000  1453.000000  1453.000000  1.453000e+03
mean      0.017334     0.017101     0.019187     0.015121  4.641957e+09
std       0.069645     0.069125     0.077809     0.059554  1.007322e+10
min       0.000774     0.000774     0.000793     0.000669  0.000000e+00
25%       0.002306     0.002306     0.002367     0.002221  4.901400e+08
50%       0.002758     0.002760     0.002847     0.002652  1.840000e+09
75%       0.003718     0.003716     0.003950     0.003531  3.510000e+09
max       0.686880     0.686914     0.738255     0.605162  1.468000e+11

In [27]:
banks.describe()

          Marketcap
count  5.000000e+01
mean   8.758770e+10
std    6.223783e+10
min    3.802700e+10
25%    4.740050e+10
50%    6.122900e+10
75%    9.303975e+10
max    2.993930e+11

In [28]:
market_cap.describe()

,Open,High,Low,Close,Volume,Market Cap
count,1098.000000,1098.000000,1098.000000,1098.000000,1.098000e+03,1.098000e+03
mean,9514.519709,9808.339736,9187.829672,9540.950783,2.327613e+10,2.147665e+11
std,16638.993055,17157.390272,16033.495160,16657.150839,2.487733e+10,3.015115e+11
min,0.000000,0.000000,0.000000,0.000000,2.275453e+07,2.892774e+08
25%,0.050000,0.060000,0.050000,0.050000,1.771491e+09,7.028866e+09
50%,568.980000,584.930000,550.525000,570.020000,1.654251e+10,6.710620e+10
75%,10947.597500,11126.235000,10804.517500,10968.422500,3.596788e+10,2.426928e+11
max,63523.750000,64863.100000,62208.960000,63503.460000,3.509680e+11,1.186360e+12

In [29]:
energy_consumption.describe()

                    name    slug       value date_of_information  region
count                217     217         217                 217     217
unique               217     217         214                   7      10
top     Marshall Islands  mexico  22,320,000           2016 est.  Africa
freq                   1       1           2                 210      55

In [30]:
stocks.describe()

,Type,Date,Open,High,Low,Close,Adj. close,Volume
count,1010,1010,1010,1010,1010,1010,1010,1010
unique,2,505,1005,1008,1004,1006,1006,1007
top,s&p,5/5/2009,"1,090.36",910,"1,274.86","1,360.03","1,360.03",2020110000
freq,505,2,2,2,3,2,2,2

### Finding Top 10 values of data using sort_value() function.

In [31]:
btc.sort_values(["Vol."],ascending=False).head(10)

                 Price      Open      High       Low        Vol. Change %
Date
Sep 02, 2020  11,413.3  11,914.4  11,947.5  11,244.9  20260000.0   -4.21%
May 29, 2019   8,647.8   8,715.6   8,747.2   8,435.3  15430000.0   -0.79%
Apr 02, 2019   4,859.3   4,145.1   4,899.6   4,143.5  14770000.0   17.23%
Sep 05, 2020  10,092.2  10,472.3  10,558.7   9,897.8  14720000.0   -3.63%
Apr 03, 2019   4,968.7   4,859.3   5,278.4   4,814.0  13830000.0    2.25%
Sep 04, 2020  10,472.5  10,168.7  10,614.2   9,960.3  12500000.0    2.99%
Sep 07, 2020  10,376.9  10,296.4  10,400.9   9,887.0  12400000.0    0.78%
Sep 06, 2020  10,296.4  10,092.2  10,337.7  10,004.7  12120000.0    2.02%
Sep 03, 2020  10,168.8  11,413.2  11,442.7  10,009.5   9650000.0  -10.90%
Sep 28, 2018   6,636.0   6,685.7   6,809.2   6,538.6   9570000.0   -0.79%

In [32]:
eth.sort_values(["Vol."],ascending=False).head(10)

               Price    Open    High     Low        Vol. Change %
Date
Nov 05, 2018  210.67  211.86  212.42  207.82  77470000.0   -0.56%
Nov 15, 2018  184.10  187.51  189.79  171.99  69510000.0   -1.79%
Mar 13, 2020  133.99  107.87  138.86   88.50  60700000.0   24.18%
Nov 04, 2018  211.86  200.27  218.35  199.38  54200000.0    5.81%
Mar 12, 2020  107.90  194.57  195.40  102.83  53510000.0  -44.55%
Nov 30, 2020  615.92  575.35  615.97  571.04  51720000.0    7.03%
Nov 23, 2020  609.22  559.37  610.33  551.80  49680000.0    8.91%
Dec 01, 2020  585.66  616.78  635.66  567.79  49420000.0   -4.91%
Dec 04, 2020  567.91  616.33  619.61  566.34  48950000.0   -7.85%
Nov 11, 2018  213.18  213.19  214.22  209.51  48660000.0   -0.01%

In [33]:
doge.sort_values(["Vol."],ascending=False).head(10)

                 Price      Open      High       Low          Vol. Change %
Date
Jan 29, 2021  0.046597  0.036085  0.077970  0.032340  1.468000e+11   28.49%
Jan 02, 2021  0.010489  0.005667  0.014008  0.005553  1.008500e+11   85.27%
Apr 16, 2021  0.365551  0.182628  0.449889  0.180132  8.339000e+10   99.99%
Mar 19, 2020  0.001763  0.001672  0.001862  0.001573  7.734000e+10    5.43%
Jan 30, 2021  0.028197  0.045859  0.050499  0.022269  7.724000e+10  -39.49%
Feb 04, 2021  0.052944  0.037340  0.059081  0.035919  7.224000e+10   41.77%
Jan 03, 2021  0.009850  0.010493  0.013928  0.009381  7.168000e+10   -6.09%
Jan 31, 2021  0.036841  0.028199  0.048998  0.026909  6.501000e+10   30.66%
Apr 14, 2021  0.121349  0.094250  0.144229  0.092535  5.729000e+10   29.42%
Feb 07, 2021  0.078508  0.057506  0.086356  0.053464  5.423000e+10   36.62%

### Finding 5 Maximum and Minimum values using nlargest() and nsmallest().

In [34]:
btc.nlargest(5,columns="Vol.")

                 Price      Open      High       Low        Vol. Change %
Date
Sep 02, 2020  11,413.3  11,914.4  11,947.5  11,244.9  20260000.0   -4.21%
May 29, 2019   8,647.8   8,715.6   8,747.2   8,435.3  15430000.0   -0.79%
Apr 02, 2019   4,859.3   4,145.1   4,899.6   4,143.5  14770000.0   17.23%
Sep 05, 2020  10,092.2  10,472.3  10,558.7   9,897.8  14720000.0   -3.63%
Apr 03, 2019   4,968.7   4,859.3   5,278.4   4,814.0  13830000.0    2.25%

In [35]:
btc.nsmallest(5,columns="Vol.")

                 Price      Open      High       Low     Vol. Change %
Date
Dec 25, 2020  24,689.6  23,728.7  24,778.9  23,445.3   2400.0    4.02%
Mar 04, 2021  48,428.0  50,388.0  51,757.7  47,521.8   9560.0   -3.90%
Oct 03, 2020  10,544.2  10,572.2  10,597.8  10,501.2  29100.0   -0.27%
Oct 17, 2020  11,362.1  11,321.8  11,402.7  11,274.4  29860.0    0.35%
Oct 04, 2020  10,672.9  10,544.4  10,693.3  10,520.8  31400.0    1.22%

In [36]:
eth.nlargest(5,columns="Vol.")

               Price    Open    High     Low        Vol. Change %
Date
Nov 05, 2018  210.67  211.86  212.42  207.82  77470000.0   -0.56%
Nov 15, 2018  184.10  187.51  189.79  171.99  69510000.0   -1.79%
Mar 13, 2020  133.99  107.87  138.86   88.50  60700000.0   24.18%
Nov 04, 2018  211.86  200.27  218.35  199.38  54200000.0    5.81%
Mar 12, 2020  107.90  194.57  195.40  102.83  53510000.0  -44.55%

In [37]:
eth.nsmallest(5,columns="Vol.")

                 Price      Open      High       Low      Vol. Change %
Date
Nov 26, 2017    464.00    464.00    464.00    464.00       0.0    0.00%
Mar 20, 2021  1,804.60  1,809.09  1,868.09  1,801.60   27030.0   -0.28%
Jun 03, 2017    217.01    214.77    217.99    210.01   96060.0    1.04%
Jun 23, 2017    324.37    320.94    329.90    316.36  105600.0    1.07%
Jun 08, 2017    256.95    250.70    258.93    242.04  147190.0    2.49%

In [38]:
doge.nlargest(5,columns="Vol.")

                 Price      Open      High       Low          Vol. Change %
Date
Jan 29, 2021  0.046597  0.036085  0.077970  0.032340  1.468000e+11   28.49%
Jan 02, 2021  0.010489  0.005667  0.014008  0.005553  1.008500e+11   85.27%
Apr 16, 2021  0.365551  0.182628  0.449889  0.180132  8.339000e+10   99.99%
Mar 19, 2020  0.001763  0.001672  0.001862  0.001573  7.734000e+10    5.43%
Jan 30, 2021  0.028197  0.045859  0.050499  0.022269  7.724000e+10  -39.49%

In [39]:
doge.nsmallest(5,columns="Vol.")

                 Price      Open      High       Low       Vol. Change %
Date
Jul 11, 2017  0.002180  0.002180  0.002180  0.002180        0.0    0.00%
Jul 22, 2017  0.002093  0.001949  0.002112  0.001949  1050000.0    7.39%
Jul 26, 2017  0.001783  0.001759  0.001868  0.001650  1320000.0    1.36%
Jul 21, 2017  0.001949  0.001872  0.001969  0.001854  1320000.0    4.11%
Jun 07, 2017  0.003250  0.003617  0.003950  0.003132  1370000.0  -10.15%

### Plots

In [40]:
# Largest and Smallest values side by side 
# Pie chart of average market share for 1 year of 3 coins 
#