### Importing Pandas Library.

In [52]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Data.

In [22]:
btc = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\BTC\\btc_usd_daily.csv",index_col="Date")
eth = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\ETH\\eth_usd_daily.csv",index_col="Date")
doge = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\DOGE\\doge_usd_daily.csv",index_col="Date")
banks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Banks\\top_50_banks.csv",index_col="Rank")
market_cap = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Market Capital\\btc_market_cap_from_start.csv",index_col="Timestamp")
energy_consumption = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Energy consumption\\electricity_consumption_for_countries.csv",index_col="ranking")

### Understanding Data.

In [23]:
btc.head(10)

                 Price      Open      High       Low     Vol. Change %
Date
May 25, 2021  38,378.3  38,753.6  39,740.8  36,540.7  163.01K   -0.96%
May 24, 2021  38,750.6  34,720.3  39,851.7  34,474.6  244.88K   11.74%
May 23, 2021  34,679.7  37,446.8  38,248.7  31,192.4  325.73K   -7.39%
May 22, 2021  37,448.3  37,291.0  38,776.0  35,314.9  185.83K    0.40%
May 21, 2021  37,297.4  40,611.2  42,108.3  33,592.3  315.50K   -8.40%
May 20, 2021  40,717.2  36,706.8  42,425.9  35,010.4  269.75K   10.88%
May 19, 2021  36,720.5  42,898.3  43,516.6  30,261.7  607.10K  -14.40%
May 18, 2021  42,897.3  43,538.5  45,770.9  42,293.9  154.96K   -1.48%
May 17, 2021  43,541.3  46,424.2  46,545.4  42,201.5  274.76K   -6.21%
May 16, 2021  46,426.4  46,729.3  49,764.3  43,920.8  180.07K   -0.60%

In [24]:
eth.head(10)

                 Price      Open      High       Low   Vol. Change %
Date
May 25, 2021  2,705.09  2,647.27  2,747.49  2,388.81  3.28M    2.20%
May 24, 2021  2,646.79  2,101.30  2,667.20  2,080.87  3.24M   25.96%
May 23, 2021  2,101.34  2,292.68  2,379.89  1,739.91  3.52M   -8.30%
May 22, 2021  2,291.60  2,433.09  2,481.06  2,162.84  2.82M   -5.82%
May 21, 2021  2,433.11  2,766.88  2,931.66  2,111.42  4.23M  -12.40%
May 20, 2021  2,777.55  2,436.59  2,988.52  2,163.40  4.33M   14.04%
May 19, 2021  2,435.69  3,376.22  3,434.01  1,922.25  6.42M  -27.89%
May 18, 2021  3,377.55  3,280.50  3,558.57  3,244.93  2.30M    2.98%
May 17, 2021  3,279.68  3,582.19  3,582.27  3,130.12  2.85M   -8.44%
May 16, 2021  3,582.12  3,643.67  3,877.20  3,351.92  2.28M   -1.63%

In [25]:
doge.head(10)

                 Price      Open      High       Low    Vol. Change %
Date
May 25, 2021  0.342400  0.364394  0.379504  0.323238   8.55B   -6.05%
May 24, 2021  0.364433  0.305975  0.369911  0.295792   8.16B   19.10%
May 23, 2021  0.305984  0.341509  0.349669  0.249235   9.45B  -10.40%
May 22, 2021  0.341484  0.358377  0.359675  0.317692   6.33B   -4.72%
May 21, 2021  0.358401  0.397731  0.411212  0.315049   8.54B   -9.89%
May 20, 2021  0.397741  0.330407  0.432618  0.297074  13.85B   20.40%
May 19, 2021  0.330353  0.474719  0.477866  0.217528  19.28B  -30.41%
May 18, 2021  0.474714  0.486444  0.512529  0.468941   4.75B   -2.40%
May 17, 2021  0.486366  0.513062  0.514821  0.457331   6.84B   -5.20%
May 16, 2021  0.513023  0.507796  0.547205  0.449635   8.26B    1.10%

In [26]:
banks.head(10)

,Bank,Country,"Market cap, US$b (January 20, 2017)"
Rank,,,
1,JP Morgan Chase & Co,US,299.393
2,Wells Fargo & Co,US,276.578
3,Industrial & Commercial Bank of China (ICBC),China,229.700
4,Bank of America,US,228.778
5,China Construction Bank,China,186.818
6,HSBC Holdings,UK,165.839
7,Citigroup Inc,US,159.898
8,Agricultural Bank of China,China,148.100
9,Bank of China,China,145.729
10,Commonwealth Bank of Australia,Australia,106.355

In [27]:
market_cap.head(10)

                 market-cap
Timestamp
1/3/2009 18:15            0
1/14/2009 11:35           0
1/18/2009 8:41            0
1/22/2009 13:30           0
1/25/2009 13:21           0
1/29/2009 13:17           0
2/2/2009 4:03             0
2/5/2009 16:26            0
2/9/2009 3:30             0
2/12/2009 15:28           0

In [28]:
energy_consumption.head(10)

,name,slug,value,date_of_information,region
ranking,,,,,
1,China,china,"5,564,000,000,000",2016 est.,East Asia/Southeast Asia
2,United States,united-states,"3,902,000,000,000",2016 est.,North America
3,India,india,"1,137,000,000,000",2016 est.,South Asia
4,Japan,japan,"943,700,000,000",2016 est.,East Asia/Southeast Asia
5,Russia,russia,"909,600,000,000",2016 est.,Central Asia
6,Germany,germany,"536,500,000,000",2016 est.,Europe
7,Canada,canada,"522,200,000,000",2016 est.,North America
8,Brazil,brazil,"509,100,000,000",2016 est.,South America
9,"Korea, South",korea-south,"507,600,000,000",2016 est.,East Asia/Southeast Asia
10,France,france,"450,800,000,000",2016 est.,Europe

### Finding about Rows, Columns and Missing values.

In [29]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, May 25, 2021 to Jun 03, 2017
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   object
 1   Open      1453 non-null   object
 2   High      1453 non-null   object
 3   Low       1453 non-null   object
 4   Vol.      1453 non-null   object
 5   Change %  1453 non-null   object
dtypes: object(6)
memory usage: 79.5+ KB

In [30]:
eth.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, May 25, 2021 to Jun 03, 2017
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   object
 1   Open      1453 non-null   object
 2   High      1453 non-null   object
 3   Low       1453 non-null   object
 4   Vol.      1453 non-null   object
 5   Change %  1453 non-null   object
dtypes: object(6)
memory usage: 79.5+ KB

In [31]:
doge.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1453 entries, May 25, 2021 to Jun 03, 2017
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Price     1453 non-null   float64
 1   Open      1453 non-null   float64
 2   High      1453 non-null   float64
 3   Low       1453 non-null   float64
 4   Vol.      1453 non-null   object
 5   Change %  1453 non-null   object
dtypes: float64(4), object(2)
memory usage: 79.5+ KB

In [32]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 50
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Bank                                 50 non-null     object
 1   Country                              50 non-null     object
 2   Market cap, US$b (January 20, 2017)  50 non-null     float64
dtypes: float64(1), object(2)
memory usage: 1.6+ KB

In [33]:
market_cap.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1501 entries, 1/3/2009 18:15 to 6/14/2021 1:09
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   market-cap  1501 non-null   int64
dtypes: int64(1)
memory usage: 23.5+ KB

In [34]:
energy_consumption.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 217 entries, 1 to 218
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 217 non-null    object
 1   slug                 217 non-null    object
 2   value                217 non-null    object
 3   date_of_information  217 non-null    object
 4   region               217 non-null    object
dtypes: object(5)
memory usage: 10.2+ KB

### Dimensions of the Data.

In [35]:
btc.shape

(1453, 6)

In [36]:
eth.shape

(1453, 6)

In [37]:
doge.shape

(1453, 6)

In [38]:
banks.shape

(50, 3)

In [39]:
market_cap.shape

(1501, 1)

In [40]:
energy_consumption.shape

(217, 5)

### Statistical Summary of Data.

In [43]:
btc.describe()

          Price     Open     High      Low   Vol. Change %
count      1453     1453     1453     1453   1453     1453
unique     1447     1441     1441     1446   1383      879
top     9,529.6  3,809.7  7,259.4  9,193.9  1.05M   -0.50%
freq          2        2        2        2      6        7

In [41]:
eth.describe()

         Price    Open    High     Low   Vol. Change %
count     1453    1453    1453    1453   1453     1453
unique    1427    1422    1425    1430   1095      965
top     148.89  145.79  299.00  137.61  1.94M   -1.53%
freq         2       3       3       2      7        6

In [42]:
doge.describe()

             Price         Open         High          Low
count  1453.000000  1453.000000  1453.000000  1453.000000
mean      0.017334     0.017101     0.019187     0.015121
std       0.069645     0.069125     0.077809     0.059554
min       0.000774     0.000774     0.000793     0.000669
25%       0.002306     0.002306     0.002367     0.002221
50%       0.002758     0.002760     0.002847     0.002652
75%       0.003718     0.003716     0.003950     0.003531
max       0.686880     0.686914     0.738255     0.605162

In [44]:
banks.describe()

       Market cap, US$b (January 20, 2017)
count                             50.00000
mean                              87.58770
std                               62.23783
min                               38.02700
25%                               47.40050
50%                               61.22900
75%                               93.03975
max                              299.39300

In [45]:
market_cap.describe()

         market-cap
count  1.501000e+03
mean   7.558391e+10
std    1.739377e+11
min    0.000000e+00
25%    6.228213e+07
50%    6.093995e+09
75%    1.038950e+11
max    1.175320e+12

In [46]:
energy_consumption.describe()

         name      slug        value date_of_information  region
count     217       217          217                 217     217
unique    217       217          214                   7      10
top     Macau  portugal  604,500,000           2016 est.  Africa
freq        1         1            2                 210      55

### Finding Top 10 values of data using sort_value() function.

In [47]:
btc.sort_values(["Vol."],ascending=False).head(10) # change "Vol." from K to thoousands ((value(-K)asint)*1000)

                 Price      Open      High       Low     Vol. Change %
Date
Apr 14, 2020   6,850.9   6,841.8   6,970.8   6,768.6  999.53K    0.14%
Jul 03, 2019  11,900.8  10,835.9  11,931.8  10,835.9  998.73K    9.83%
Nov 27, 2019   7,510.6   7,162.8   7,636.9   6,875.4  996.49K    4.86%
Apr 24, 2019   5,415.6   5,511.2   5,589.6   5,346.8  994.04K   -1.74%
Dec 03, 2020  19,433.3  19,219.8  19,596.6  18,883.7   99.97K    1.12%
Oct 14, 2018   6,326.8   6,321.6   6,390.9   6,300.0   99.38K    0.08%
Jun 21, 2018   6,728.0   6,765.8   6,797.5   6,695.1   99.29K   -0.55%
Apr 08, 2020   7,361.2   7,185.6   7,396.1   7,153.1  983.94K    2.45%
Apr 27, 2020   7,766.0   7,679.4   7,768.5   7,637.7  980.50K    1.13%
Feb 24, 2020   9,662.7   9,943.2   9,981.0   9,507.0  980.00K   -2.82%

In [48]:
eth.sort_values(["Vol."],ascending=False).head(10) # change "Vol." from K to thoousands ((value(-K)asint)*1000)

                 Price      Open      High       Low     Vol. Change %
Date
Feb 14, 2018    919.67    841.38    922.38    840.82  993.86K    9.30%
Mar 15, 2018    610.13    612.08    620.01    572.69  991.89K   -0.32%
Jan 31, 2018  1,118.08  1,072.17  1,126.87  1,028.03  990.74K    4.31%
Mar 14, 2018    612.09    689.67    702.53    587.10  990.48K  -11.24%
Feb 11, 2018    810.45    851.44    854.10    778.90  988.45K   -4.81%
Apr 15, 2018    533.90    502.52    534.18    502.52  988.29K    6.24%
Jun 19, 2018    538.22    517.91    547.50    514.88  985.96K    3.92%
May 10, 2018    724.40    751.98    768.24    723.39  983.14K   -3.62%
May 16, 2018    706.53    705.73    710.49    667.51  978.18K    0.11%
Oct 13, 2018    201.22    196.67    206.13    196.41  976.30K    2.30%

In [49]:
doge.sort_values(["Vol."],ascending=False).head(10) # change "Vol." from K to thoousands ((value(-K)asint)*1000)

                 Price      Open      High       Low     Vol. Change %
Date
Oct 27, 2017  0.001042  0.001060  0.001070  0.001020  998.25M   -1.70%
Dec 11, 2020  0.003075  0.003109  0.003114  0.003001  996.31M   -1.09%
Oct 15, 2018  0.005376  0.005270  0.005697  0.005239  992.75M    2.00%
Nov 17, 2018  0.002602  0.002761  0.002768  0.002555  986.08M   -5.75%
Nov 05, 2018  0.003650  0.003727  0.003729  0.003599  978.49M   -2.06%
Jan 19, 2019  0.002094  0.002042  0.002134  0.002001  978.04M    2.55%
Oct 24, 2020  0.002634  0.002644  0.002650  0.002610  969.00M   -0.38%
Feb 21, 2018  0.006648  0.007162  0.007502  0.006428  966.62M   -7.04%
Oct 23, 2020  0.002644  0.002647  0.002690  0.002627  959.32M   -0.10%
Oct 24, 2017  0.001060  0.001010  0.001117  0.000950  957.84M    4.95%

### Finding 5 Maximum and Minimum values using nlargest() and nsmallest().

In [ ]:
btc.nlargest(5,columns="Vol.") # convert "Vol." from object to int

In [ ]:
btc.nsmallest(5,columns="Vol.") # convert "Vol." from object to int

In [ ]:
eth.nlargest(5,columns="Vol.") # convert "Vol." from object to int

In [ ]:
eth.nsmallest(5,columns="Vol.") # convert "Vol." from object to int

In [ ]:
doge.nlargest(5,columns="Vol.") # convert "Vol." from object to int

In [ ]:
doge.nsmallest(5,columns="Vol.") # convert "Vol." from object to int

### Plots

In [ ]:
# Largest and Smallest values side by side 
# Pie chart of average market share for 1 year of 3 coins 
#