### Importing Pandas Library.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
wd = os.getcwd()
wd

'C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Notebook'

### Loading Data.

In [3]:
btc = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\BTC\\btc_usd_daily.csv")
eth = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\ETH\\eth_usd_daily.csv")
doge = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Crypto data from 2017-2021\\DOGE\\doge_usd_daily.csv")
banks = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Banks\\top_50_banks.csv")
market_cap = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Market Capital\\btc_market_cap_from_start.csv")
energy_consumption = pd.read_csv("C:\\Users\\Yuvraj\\Desktop\\Sem 1\\DAB 103 Analytical tools and decision making\\Project\\Energy consumption\\electricity_consumption_for_countries.csv")

### Understanding Data.

In [4]:
btc.head(10)

           Date     Price      Open      High       Low     Vol. Change %
0  May 25, 2021  38,378.3  38,753.6  39,740.8  36,540.7  163.01K   -0.96%
1  May 24, 2021  38,750.6  34,720.3  39,851.7  34,474.6  244.88K   11.74%
2  May 23, 2021  34,679.7  37,446.8  38,248.7  31,192.4  325.73K   -7.39%
3  May 22, 2021  37,448.3  37,291.0  38,776.0  35,314.9  185.83K    0.40%
4  May 21, 2021  37,297.4  40,611.2  42,108.3  33,592.3  315.50K   -8.40%
5  May 20, 2021  40,717.2  36,706.8  42,425.9  35,010.4  269.75K   10.88%
6  May 19, 2021  36,720.5  42,898.3  43,516.6  30,261.7  607.10K  -14.40%
7  May 18, 2021  42,897.3  43,538.5  45,770.9  42,293.9  154.96K   -1.48%
8  May 17, 2021  43,541.3  46,424.2  46,545.4  42,201.5  274.76K   -6.21%
9  May 16, 2021  46,426.4  46,729.3  49,764.3  43,920.8  180.07K   -0.60%

In [5]:
eth.head(10)

           Date     Price      Open      High       Low   Vol. Change %
0  May 25, 2021  2,705.09  2,647.27  2,747.49  2,388.81  3.28M    2.20%
1  May 24, 2021  2,646.79  2,101.30  2,667.20  2,080.87  3.24M   25.96%
2  May 23, 2021  2,101.34  2,292.68  2,379.89  1,739.91  3.52M   -8.30%
3  May 22, 2021  2,291.60  2,433.09  2,481.06  2,162.84  2.82M   -5.82%
4  May 21, 2021  2,433.11  2,766.88  2,931.66  2,111.42  4.23M  -12.40%
5  May 20, 2021  2,777.55  2,436.59  2,988.52  2,163.40  4.33M   14.04%
6  May 19, 2021  2,435.69  3,376.22  3,434.01  1,922.25  6.42M  -27.89%
7  May 18, 2021  3,377.55  3,280.50  3,558.57  3,244.93  2.30M    2.98%
8  May 17, 2021  3,279.68  3,582.19  3,582.27  3,130.12  2.85M   -8.44%
9  May 16, 2021  3,582.12  3,643.67  3,877.20  3,351.92  2.28M   -1.63%

In [6]:
doge.head(10)

           Date     Price      Open      High       Low    Vol. Change %
0  May 25, 2021  0.342400  0.364394  0.379504  0.323238   8.55B   -6.05%
1  May 24, 2021  0.364433  0.305975  0.369911  0.295792   8.16B   19.10%
2  May 23, 2021  0.305984  0.341509  0.349669  0.249235   9.45B  -10.40%
3  May 22, 2021  0.341484  0.358377  0.359675  0.317692   6.33B   -4.72%
4  May 21, 2021  0.358401  0.397731  0.411212  0.315049   8.54B   -9.89%
5  May 20, 2021  0.397741  0.330407  0.432618  0.297074  13.85B   20.40%
6  May 19, 2021  0.330353  0.474719  0.477866  0.217528  19.28B  -30.41%
7  May 18, 2021  0.474714  0.486444  0.512529  0.468941   4.75B   -2.40%
8  May 17, 2021  0.486366  0.513062  0.514821  0.457331   6.84B   -5.20%
9  May 16, 2021  0.513023  0.507796  0.547205  0.449635   8.26B    1.10%

In [7]:
banks.head(10)

,Rank,Bank,Country,"Market cap, US$b (January 20, 2017)"
0,1,JP Morgan Chase & Co,US,299.393
1,2,Wells Fargo & Co,US,276.578
2,3,Industrial & Commercial Bank of China (ICBC),China,229.700
3,4,Bank of America,US,228.778
4,5,China Construction Bank,China,186.818
5,6,HSBC Holdings,UK,165.839
6,7,Citigroup Inc,US,159.898
7,8,Agricultural Bank of China,China,148.100
8,9,Bank of China,China,145.729
9,10,Commonwealth Bank of Australia,Australia,106.355

In [8]:
market_cap.head(10)

         Timestamp  market-cap
0   1/3/2009 18:15           0
1  1/14/2009 11:35           0
2   1/18/2009 8:41           0
3  1/22/2009 13:30           0
4  1/25/2009 13:21           0
5  1/29/2009 13:17           0
6    2/2/2009 4:03           0
7   2/5/2009 16:26           0
8    2/9/2009 3:30           0
9  2/12/2009 15:28           0

In [9]:
energy_consumption.head(10)

,name,slug,value,date_of_information,ranking,region
0,China,china,"5,564,000,000,000",2016 est.,1,East Asia/Southeast Asia
1,United States,united-states,"3,902,000,000,000",2016 est.,2,North America
2,India,india,"1,137,000,000,000",2016 est.,3,South Asia
3,Japan,japan,"943,700,000,000",2016 est.,4,East Asia/Southeast Asia
4,Russia,russia,"909,600,000,000",2016 est.,5,Central Asia
5,Germany,germany,"536,500,000,000",2016 est.,6,Europe
6,Canada,canada,"522,200,000,000",2016 est.,7,North America
7,Brazil,brazil,"509,100,000,000",2016 est.,8,South America
8,"Korea, South",korea-south,"507,600,000,000",2016 est.,9,East Asia/Southeast Asia
9,France,france,"450,800,000,000",2016 est.,10,Europe

### Finding about Rows, Columns and Missing values.

In [10]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1453 non-null   object
 1   Price     1453 non-null   object
 2   Open      1453 non-null   object
 3   High      1453 non-null   object
 4   Low       1453 non-null   object
 5   Vol.      1453 non-null   object
 6   Change %  1453 non-null   object
dtypes: object(7)
memory usage: 79.6+ KB

In [11]:
eth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1453 non-null   object
 1   Price     1453 non-null   object
 2   Open      1453 non-null   object
 3   High      1453 non-null   object
 4   Low       1453 non-null   object
 5   Vol.      1453 non-null   object
 6   Change %  1453 non-null   object
dtypes: object(7)
memory usage: 79.6+ KB

In [12]:
doge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1453 entries, 0 to 1452
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      1453 non-null   object
 1   Price     1453 non-null   float64
 2   Open      1453 non-null   float64
 3   High      1453 non-null   float64
 4   Low       1453 non-null   float64
 5   Vol.      1453 non-null   object
 6   Change %  1453 non-null   object
dtypes: float64(4), object(3)
memory usage: 79.6+ KB

In [13]:
banks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Rank                                 50 non-null     int64
 1   Bank                                 50 non-null     object
 2   Country                              50 non-null     object
 3   Market cap, US$b (January 20, 2017)  50 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [14]:
market_cap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1501 entries, 0 to 1500
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Timestamp   1501 non-null   object
 1   market-cap  1501 non-null   int64
dtypes: int64(1), object(1)
memory usage: 23.6+ KB

In [15]:
energy_consumption.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217 entries, 0 to 216
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 217 non-null    object
 1   slug                 217 non-null    object
 2   value                217 non-null    object
 3   date_of_information  217 non-null    object
 4   ranking              217 non-null    int64
 5   region               217 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.3+ KB

### Dimensions of the Data.

In [16]:
btc.shape
eth.shape
doge.shape
banks.shape
market_cap.shape
energy_consumption.shape

(217, 6)

### Statistical Summary of Data.

In [17]:
btc.describe()
eth.describe()
doge.describe()
banks.describe()
market_cap.describe()
energy_consumption.describe()

          ranking
count  217.000000
mean   109.488479
std     63.220961
min      1.000000
25%     55.000000
50%    109.000000
75%    164.000000
max    218.000000

### Finding Top 10 values of data using sort_value() function.

In [ ]:
btc.sort_values([],ascending=False).head(10)

In [ ]:
eth.sort_values([],ascending=False).head(10)

In [ ]:
doge.sort_values([],ascending=False).head(10)

In [ ]:
banks.sort_values([],ascending=False).head(10)

In [ ]:
energy_consumption.sort_values([],ascending=False).head(10)

### Finding 5 Maximum and Minimum values using nlargest() and nsmallest().

In [ ]:
btc.nlargest(5,columns="")

In [ ]:
btc.nsmallest(5,columns="")

In [ ]:
eth.nlargest(5,columns="")

In [ ]:
eth.nsmallest(5,columns="")

In [ ]:
doge.nlargest(5,columns="")

In [ ]:
doge.nsmallest(5,columns="")

In [ ]:
banks.nlargest(5,columns="")

In [ ]:
banks.nsmallest(5,columns="")

In [ ]:
energy_consumption.nlargest(5,columns="")

In [ ]:
enenrgy_consumption.nsmallest(5,columns="")

### Plots

In [ ]:
# Largest and Smallest values side by side 
# Pie chart of average market share for 1 year of 3 coins 
#